<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>

.m
{
padding-left:30em;
}
.b

</style>
</head>
<body>
<center>
<br>
<br>
<br>
<div class="m">
 <form method="POST">
            {{form.files}}
            <br>&nbsp;
          {{ form.submit(class="btn btn-success")}}

{% if image %}
 <img src="data:;base64,{{image}}" style="width:200px;height:200px;"/>
{% endif %}

        </form>
</div>
</center>
</body>
</html>